.lampiran-2.container-0 .non-tabel {
    border-collapse: collapse;
    table-layout: fixed;
}

.lampiran-2.container-0 td,
.lampiran-2.container-0 p {
    font-size: 12px;
    margin: 0;
}

.lampiran-2.container-0 .non-tabel td {
    text-align: left;
    vertical-align: top;
}

.lampiran-2.container-0 td {
    padding: 5px 7px 0 3px;
}


.lampiran-2.container-1 .tabel {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
    table-layout: fixed;
}

.lampiran-2.container-1 .tabel td {
    border: 1px solid #000;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding: 5px 7px 0 3px;
    margin: 0;
}

.lampiran-2.container-1 .tabel .non-tabel td {
    border: none;
}

.lampiran-2.container-1 .tabel .right-content td {
    margin: 0;
    padding-left: 10px;
}

.lampiran-2.container-1 .tabel .right-content .text-v {
    font-size: 11px;
    line-height: 15px;
}

.lampiran-2.container-2 .tabel {
    border: transparent;
}

.lampiran-2.container-2 .tabel td {
    border: transparent !important;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding: 0 5px;
}